@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  color: wheat;
}

body {
  background: #191f36;
  font-size: 1.6rem;
}

section {
  min-height: 100vh;
  padding: 18rem 9% 2rem;
}


/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: #111424;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 2.5rem;
  font-weight: 700;
  color: wheat;
  cursor: default;
}

.navBar {
  width: auto;
  display: flex;
  justify-content: flex-end;
}

.navBar ul {
  list-style: none; 
  display: flex;
}

.navBar ul li {
  margin-left: 2rem; 
}

.navBar  a {
  font-size: 1.5rem;
  color: wheat;
  font-weight: 700;
}

.navBar a:hover,
.navBar a.active {
  color: #f1c40f;
}

    /* #meu-icons {
    font-size: 3.6rem;
    color: wheat;
    display: none;
    } */


/* home */

.Home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}

span{
    color: #f1c40f;
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-img img{
    width: 25vw;
    animation: floatImage  4s ease-in-out infinite  ;
}

@keyframes floatImage {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}

.home-content p{
    font-size: 1.6rem;
}

.media-social a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem  solid #f1c40f;
    border-radius: 50%;
    font-size: 2rem;
    color : #f1c40f;
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.media-social a:hover{
    background: #f1c40f;
    color: #191f36;
    box-shadow: 0 0 1rem #f1c40f;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: #f1c40f;
    border-radius: 4rem;
    box-shadow: 0 0 1rem #f1c40f;
    font-size: 1.6rem;
    color: #191f36;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover{
    box-shadow: none;
}

/* Sobre */
.sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: #191f36;
}

.img-sobre img{
    width: 35vw;
}

.cabecalho{
    text-align: center;
    font-size: 4.5rem;
}

.sobre-content h2{
    text-align: left;
    line-height: 1.2;
}

.sobre-content h3{
    font-size: 2.6rem;
}

.sobre-content p{
    font-size: 1.6rem;
    margin: 2rem  0 3rem;
}

.servicos h2{
    margin-bottom: 5rem;
}

.servicos-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.servicos-container .servicos-box{
    flex:  1 1 30rem;
    background: #191f36;
    padding: 3rem  2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid #f1c40f;
    transition: .5s ease;
}

.servicos-container .servicos-box:hover{
    border-color: #f1c40f;
    transform: scale(1.02);
}

.servicos-box i{
    font-size: 5rem;
    color: #f1c40f;
}

.servicos-box h3{
    font-size: 2.6rem;
}
.servicos-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;    
}

/* Portfolio */

.portifolio{
    background: #191f36;
}

.portifolio h2{
    margin-bottom: 4rem;
}

.portifolio-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2.5rem;
}

.portifolio-container .portifolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem #f1c40f;
    overflow: hidden;
    display: flex;
}

.portifolio-box img{
        width: 100%;
        transition: .5s ease;
        
}

.portifolio-box img:hover{
    transform: scale(1.1);
    opacity: 0.7;
}
.portifolio-box .portifolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1) #3c5acf); 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}


.portifolio-box:hover .portifolio-layer{
    transform: translateY(0);
}

.portifolio-box h4{
    font-size: 3rem;
}

.portifolio-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.portifolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: #f1c40f;
    border-radius: 50%;
}

.portifolio-layer a i{
    font-size: 2rem;
    color: #191f36;
}

/* Contato */
.contato h2 {
    margin-top: 3rem;
}

.contato form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contato form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contato form .input-box input,
.contato form textarea {
    width: 100%;
    padding: 15px; /* Ajustei o valor para 15px */
    font-size: 1.6rem;
    color: white;
    background-color: white;
    border-radius: .8rem;
    margin: .7rem 0;
}

.contato form .input-box input {
    width: 49%;
}

.contato form textarea {
    resize: none;
}

.contato form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: #111424;
}

.footer-texto{
    font-size: 1.6rem;
}

.footer-icon{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem 1rem;
    background: #f1c40f;
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-icon a:hover{
    box-shadow: 0 0 1rem #f1c40f;
}

.footer-icon a i{
    font-size: 2.4rem;
    color: #191f36;
}


/* Responsividade */

@media(max-width: 1200px){
    
}
