@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  color: wheat;
}

body {
  background: #191f36;
  font-size: 1.6rem;
}

section {
  min-height: 80vh;
  padding: 5rem 3% 2rem;
}

a{
  text-decoration: none; 
  color: inherit;
}